<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 30px; text-align: center;color:rebeccapurple">
            There was a problem when placing an ad for a new car
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 28px 0 0;font-size: 25px;color:red">
                Advertisement that did not pass verification:
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p>Brand: {{car.brand}}</p>
            <p>Model: {{car.modelka}}</p>
            <p>Price: {{car.price}}</p>
            <p>Year: {{car.year}}</p>
            <p>Color: {{car.color}}</p>
            <p>Number_of_owners: {{car.number_of_owners}}</p>
            <p>Insurance: {{car.insurance}}</p>
            <p>Citty: {{car.city}}</p>
        </td>
    </tr>
</table>